
#searchBox {
    width: 120px;
}

#jsonTable
{
    width: 900px;
}

#toolbar
{
    margin-top: 20px;
    width: 900px;
}

th
{
    padding: 10px;
    cursor: pointer;
}

th[data-field="ID"] {
    width: 5%;
}

th[data-field="Title"] {
    width: 30%;
}

th[data-field="Author"] {
    width: 20px;
}

th[data-field="PublicationDate"] {
    width: 10px;
}

th[data-field="Genre"] {
    width: 15px;
}

th[data-field="Price"] {
    width: 15px;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background-color: #edf2f7;  /* Color de fondo para el encabezado */
}

thead th {
    padding: 10px 15px;  /* Espaciado interior para el encabezado */
    border-bottom: 2px solid #e2e8f0;  /* Borde inferior para el encabezado */
}

tbody tr:last-child td {
    border-bottom: none;  /* Quitar el borde inferior de la última fila */
}

tbody td {
    padding: 10px 15px;  /* Espaciado interior para las celdas del cuerpo */
    border-bottom: 1px solid #e2e8f0;  /* Borde inferior para las celdas del cuerpo */
}

#loader-overlay
{
    width: 900px;
}