<!DOCTYPE html>
<html lang="en" {% if centerContent %}class="h-full"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ BaseUrl }}" >
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{ title|raw }}</title>
</head>
<body class="{% if centerContent %}h-full{% endif %} flex flex-col">

<section id="wrapper" class="w-full h-full flex items-center justify-center ">

    {{ content|raw }}

</section>
</body>
</html>