<form method="post" action="" class="bg-white p-6 rounded-lg shadow-md" autocomplete="off">
    <input type="hidden" name="action" value="login">
    <h2 class="mb-4 text-center font-bold">Inicio de Sesión</h2>

    <div class="mb-4">
        <label class="block text-gray-700">Correo</label>
        <input type="email" name="email" required class="w-full mt-1 p-2 border rounded-md">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700">Contraseña</label>
        <input type="password" name="password" required class="w-full mt-1 p-2 border rounded-md">
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Iniciar Sesión</button>
    <a href="/?action=register" class="block mt-4 text-blue-500">¿No tienes cuenta? Regístrate aquí</a>
</form>