<form class="max-w-lg mx-auto mt-8 p-6 pt-2 bg-white rounded shadow-lg" (ngSubmit)="submitForm()" #form="ngForm">

  <!-- Título del formulario -->
  <div class="mb-8 text-center border-b pb-4">
    <h2 class="text-2xl font-bold">{{ post.id ? 'Editar Publicación' : 'Agregar Publicación' }}</h2>
  </div>
  <div class="mb-4">
    <label for="title" class="block font-medium text-gray-700">Título</label>
    <input [(ngModel)]="post.title" type="text" id="title" name="title" class="mt-1 p-2 w-full border rounded" />
  </div>
  <div class="mb-4">
    <label for="description" class="block font-medium text-gray-700">Descripción</label>
    <textarea [(ngModel)]="post.description" id="description" name="description" class="mt-1 p-2 w-full border rounded" rows="3"></textarea>
  </div>
  <div class="mb-4">
    <label for="body" class="block font-medium text-gray-700">Contenido</label>
    <textarea [(ngModel)]="post.body" id="body" name="body" class="mt-1 p-2 w-full border rounded" rows="12"></textarea>
  </div>
  <div class="mb-4">
    <label for="author" class="block font-medium text-gray-700">Autor</label>
    <input [(ngModel)]="post.author" type="text" id="author" name="author" class="mt-1 p-2 w-full border rounded" />
  </div>
  <div class="flex justify-end">
    <a routerLink="/admin/posts" type="button" class="mr-2 px-4 py-2 bg-gray-300 text-black rounded">Cancelar</a>
    <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">
      {{ post.id ? 'Guardar' : 'Agregar' }}
    </button>
  </div>
</form>
