<div class="w-full max-w-md mx-auto mt-6 w-3/5">
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
        <p>{{ message|raw }}</p>
    </div>
    <div class="mt-4 text-center">
        <a href="{{ continue|raw }}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded cursor-pointer">Continuar</a>
    </div>
</div>